<div class="container page">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>ИСТОРИЯ</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p>Строительство типовой психиатрической больницы в городе Гомеле начато в 1956 году. В октябре 1960 года приказом министерства
                здравоохранения БССР главным врачом Гомельской областной психиатрической больницы назначен Усольцев Константин Федорович.</p>
            <p>20 мая 1961 года был сдан в эксплуатацию корпус № 1, пищеблок, прачечная, морг, очистные сооружения. К 1 июня 1961 года в
                первом корпусе развернуто 300 коек (2 мужских и 2 женских отделения по 75 коек), начали работать физиотерапевтическое отделение,
                лаборатория, аптека, рентгеновский, стоматологический, гинекологический кабинет, кабинет лечебной физкультуры и электрокардиографии.
                К концу года сдан корпус № 2. Таким образом, на конец 1961 года в области развернуто 700 коек для лечения пациентов психиатрического
                профиля, в 1962 году – это уже 1020 коек. В 1963 году для оказания психиатрической помощи детям открыто 2 детских отделения на 100
                коек. На конец 1963 года в больнице развернуто 1365 коек в 20 отделениях, которые расположены в 6 лечебных корпусах.
                В этом же году для организации трудотерапии открыты лечебно-производственные мастерские: швейный и столярный цеха,
                а в последствии картонажный, цветочный, тарный, сетевязальный.</p>
            <p>Таким образом, к началу 1964 года больницы полностью вступила в работу и приобрела свой окончательный вид.</p>
            <p>Для работы отделений использовалась определенная профильность: существовали приемно-диагностические отделения для первичных
                пациентов и страдающих психическими заболеваниями в хронической форме, длительно и часто болеющих, отделение для пациентов,
                проходящих лечение по решению суда, 2 соматических отделения, инфекционное и пациентов страдающих туберкулезом органов дыхания.</p>
            <p>Такой принцип существовал, доя 1974 года, когда сменился принципом территориальности.</p>
            <p>С открытием психиатрической больницы психоневрологический диспансер стал выполнять функции только амбулаторно-поликлинической помощи.
                В этот период была организована участковая служба, в основу которой был положен диспансерный динамический метод наблюдения,
                введены контрольные карты диспансерного наблюдения. Появился патронаж. Начали осуществляться консультации во всех
                лечебно-профилактических учреждениях города. В 1972 году диспансер был переименован в диспансерное отделение, которое
                вошло в состав психиатрической больницы.</p>
            <p>Начиная с 1965 года, начинает активно развиваться психиатрическая помощь в районах области: открываются кабинеты психиатров
                в Жлобинском, Рогачевском, Речицком, Житковичском, Хойникском, Ельском и Лоевском районах. К 1973 году кабинеты психиатров
                есть во всех районах области. Врачи областной психиатрической больницы оказывают консультативную и организационно-методическую
                помощь райпсихиатрам курируемых районов.</p>
            <p>С 1967 года по 1983 год на базе областной психиатрической больницы проводится стационарная психиатрическая экспертиза.</p>
            <p>С целью реабилитации пациентов и приближения их к полноценной жизни в мае 1968 года открыт дневной стационар на 50 коек.</p>
            <p>С 1969 по 1975 год в больнице функционировало 1650 коек. С 1975 по 1984 год в областной психиатрической больнице развернуто 1760 коек.
                В целях дальнейшего совершенствования психиатрической службы в 1978 году была выделена отдельно наркологическая служба, создан
                областной наркологический диспансер со стационарными койками.</p>
            <p>Для осуществления экстренной психиатрической помощи 01.04.1978 года в областной психиатрической больнице создана психиатрическая
                бригада скорой медицинской помощи.</p>
            <p>С уходом на пенсию Константина Федоровича Усольцева в ноябре 1982 года главным врачом Гомельской областной психиатрической
                больницы становится Михаил Георгиевич Кунцевич. В этот период меняется отношение к психиатрии и пациентам страдающим психическими
                и поведенческими расстройствами, к ограничениям, присущим психиатрической практике того исторического периода. Проводится работа
                по улучшению интерьера отделений, палат, проводятся масштабные работы по озеленению и обустройству территории. С целью создания
                адаптационного периода для пациентов, выписывающихся из стационарных отделений увеличивается число мест в отделениях дневного
                пребывания, так к 1990 году в больнице функционирует уже 150 мест. В это время уже во всех районах области имеются психиатры,
                в Речице, Светлогорске, Жлобине работают детские психиатры, в Мозыре открывается психоневрологический диспансер с 50 койками
                и дневным стационаром на 20 коек.</p>
            <p>Благодаря изменившимся подходам к психиатрии и психически больным, активной работе амбулаторной службы потребности в стационарной
                помощи начинает снижаться. Начиная с 1985 года количество коек в областной психиатрической больнице постепенно начинает сокращаться.
                В 1985 году – функционирует 1500 коек, в 1992-1200, в 1995 году – 1125, в 2001 – 1070.</p>
            <p>С июня 199 года психиатрическая служба области работает в соответствии с Законом Республики Беларусь «О психиатрической помощи
                и гарантиях прав граждан при ее оказании». В течении последнего десятилетия много внимания уделялось реабилитации психически
                больных и развитию стационарзамещающих технологий при оказании психиатрической помощи.</p>
            <p>В 200 году приказом главного врача Кунцевича Михаила Георгиевича открыто отделение реабилитации для пациентов психиатрического
                профиля, на сегодняшний день функционирует кабинет реабилитации в структуре дневного стационара.</p>
            <p>В целях дальнейшего развития и совершенствования психотерапевтической службы области во исполнение приказа Министерства
                здравоохранения, на функциональной основе в 2004 году создан психоневрологический центр пограничных состояний, в составе
                которого на сегодняшний день работают психотерапевты.</p>
            <p>В мае 2005 года Гомельскую областную психиатрическую больницу возглавляет главный врач Моторенко Виктор Иванович.</p>
            <p>С целью выполнения Плана мероприятий по реализации Концепции развития психиатрической помощи в Республике Беларусь на
                2007-2010 годы в области проведена работа по открытию коек дневного пребывания для пациентов психиатрического и
                психотерапевтического профиля. Открыт психологический центр, круглосуточно функционирует «телефон доверия».</p>
            <p>С 2015 году главным врачом Гомельской областной психиатрической больницы является Александр Леонидович Цитко.</p>
        </div>
    </div>
</div>