<div class="container page">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>ПСИХИАТРИЧЕСКАЯ ПОМОЩЬ</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p>Психиатрическая помощь оказывается на бесплатной основе с занесением реальных данных 
                в амбулаторную карту пациента, с последующим наблюдением за пациентом.</p>
            <p>По желанию пациента и отсутствии противопоказаний - психиатрическая помощь 
                может быть оказана пациентам анонимно, на платной основе 
                (без занесения реальных данных пациента в амбулаторную карту и постановки 
                на учет). Порядок оказания помощи анонимно на платной основе 
                (ссылка на раздел Анонимная помощь)</p>
            <p>Противопоказаниями к анонимному оказанию психиатрической помощи является перечень заболеваний, при наличии которых, 
                за пациентом в обязательном порядке должно вестись диспансерное наблюдение.</p>
            <ul>В нашей клинике вы можете получить следующие виды психиатрической помощи анонимно:
                <li>Первичное консультирование врачом-психиатром-наркологом</li>
                <li>Повторное консультирование врачом-психиатром-наркологом</li>
                <li>Медикаментозное лечение тревожно-депрессивных расстройств</li>
            </ul>
            <p>Прейскурант цен на психиатрическую помощь.</p>
        </div>
    </div>
</div>