<div class="container page">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>О КЛИНИКЕ</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p>Учреждение «Гомельская областная клиническая психиатрическая больница» - высокопрофильное, специализированное медицинское учреждение,
                оказывающее психиатрическую, психотерапевтическую, наркологическую, психологическую и сексологическую помощь населению г. Гомеля
                и Гомельской области. Стационарный коечный фонд составляет 790 мест. В клинике функционирует диспансерное отделение, рассчитанное
                на 250 посещений в смену, 2 отделений дневного пребывания на 240 мест для взрослого населения и 1 отделение дневного пребывания
                для детей на 25 мест. Также в структуре клиники развернуто 14 структурных подразделений: 2 отделения пограничных состояний,
                для лечения расстройств настроения и кризисных состояний, 2 отделения для лечения впервые развившихся психических расстройств,
                2 отделения для пожилых людей и 6 отделений общепсихиатрического типа. В каждом из отделений клиники вы можете получить
                специализированную помощь, в том числе наркологического профиля – анонимно, на платной основе. В структуру клиники также
                входят медикопсихологическое отделение, центр пограничных состояний, клинико-диагностическая лаборатория, узи-кабинет,
                рентген-кабинет, физиотерапевтическое отделение, кабинет реабилитации.</p>
            <p>В случае необходимости или Вашего желания вы можете получить консультацию профессорского преподавательского состава
                кафедры психиатрии, наркологии и медицинской психологии Гомельского государственного медицинского университета.</p>
        </div>
    </div>
</div>