<div class="container page">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>ПОРЯДОК ГОСПИТАЛИЗАЦИИ</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <ul>Порядок плавновой госпитализации в отделения дневного пребывания (<a (click)="goTo('/daily')">дневной стационар</a>) для взрослого населения: 
                <li>Обратиться к врачу-психиатру-наркологу в <a (click)="goTo('/dispanser')">диспансерное отделение</a> УГОКПБ</li>
                <li>Обратиться к врачу-психотерапевту <a (click)="goTo('/preborder-center')">центра пограничных состояний</a> </li>
                <li>Получить направление на госпитализацию в отделение дневного пребывания.</li>   
            </ul> 
            <br>
            <ul>Порядок плавновой госпитализации в отделения дневного пребывания (дневной стационар) для детского населения:
                <li>Обратиться к врачу-психиатру-наркологу или врачу-психотерапевту <a (click)="goTo('/pediatric')">педиатрического отделение</a> УГОКПБ</li>
                <li>Получить направление на госпитализацию в отделение дневного пребывания</li>
            </ul>
            <br>
            <ul>Порядок плавновой госпитализации в <a (click)="goTo('/preborder')">отделения пограничных состояний</a> (открытое отделение неврозов):
                <li>Обратиться к врачу-психиатру-наркологу в <a (click)="goTo('/dispanser')">диспансерное отделение</a> УГОКПБ</li> 
                <li>Обратиться к врачу-психотерапевту <a (click)="goTo('/preborder-center')">центра пограничных состояний</a></li> 
                <li>Обратиться к врачу-психиатру-наркологу/психотерапевту в ЦРБ Вашего района. </li>
                <li>Получить направление на госпитализацию в отделение пограничных состояний. </li>
                <li>Предварительно обратиться по телефонам: 35-62-47; 35-60-46, для уточнения наличия свободных мест в отделении. В случае отсутствия на текущий момент мест, вас запишут на госпитализацию в ближайшее время.</li> 
                <li>С направлением обратиться к заведующему отделением пограничных состояний.</li> 
                <li>Иметь при себе результат флюорографии огранов грудной клетки.</li>
                <li>Паспорт</li>
            </ul>
        </div>
    </div>
</div>


	 
	
	 




