<div class="container page">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>СПРАВКИ</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p>Административные процедуры предоставляемые гражданам по заявлению. (Справки, выписки, заключения)</p> 
            <br>
            <p>Указ Президента Республики Беларусь от 26.04.2010 № 200 «Об административных процедурах, осуществляемых государственными органами и иными организациями по заявлениям граждан»</p>
            <br>     
        </div>
    </div>
    <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <table class="tbl" style="width: 100%">
                    <thead class="text-center">
                        <td><b>Наименование административной процедуры</b></td>
                        <td><b>Государственный орган (иная организация), в который гражданин должен обратиться</b></td>
                        <td><b>Документы и (или) сведения, представляемые гражданином для осуществления административной процедуры</b></td>
                        <td><b>Размер платы, взимаемой при осуществлении административной процедуры</b></td>
                        <td><b>Максимальный срок осуществления административной процедуры</b></td>
                        <td><b>Срок действия справки, другого документа (решения), выдаваемых (принимаемого) при осуществлении административной процедуры</b></td>
                    </thead>
                    <tr>
                        <td>Выдача заключения:</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>врачебно-консультационной комиссии</td>
                        <td>диспансер</td>
                        <td>паспорт или иной документ, удостоверяющий личность</td>
                        <td>бесплатно</td>
                        <td>1 день после проведения заседания врачебно-консультационной комиссии</td>
                        <td>от 1 месяца до 1 года или бессрочно в зависимости от заболевания</td>
                    </tr>
                    <tr>
                        <td>Выдача врачебного свидетельства о смерти (мертворождении)</td>
                        <td>диспансер,  патологоанатомическое бюро, орган Государственного комитета судебных экспертиз</td>
                        <td>паспорт или иной документ, удостоверяющий личность умершего паспорт или иной документ, удостоверяющий личность обратившегося</td>
                        <td>бесплатно</td>
                        <td>в день обращения</td>
                        <td>бессрочно</td>
                    </tr>
                    <tr>
                        <td>Выдача листка нетрудоспособности (справки о временной нетрудоспособности)</td>
                        <td>диспансер</td>
                        <td>паспорт или иной документ, удостоверяющий личность медицинские документы (выписки из них), выданные в иностранном государстве, медицинская справка о состоянии здоровья, свидетельство о смерти, проездные документы, путевка на санаторно-курортное лечение, копия свидетельства о направлении на работу – в случае выдачи листка нетрудоспособности (справки о временной нетрудоспособности) по основаниям, которые не могут быть установлены в ходе медицинского осмотра, медицинского освидетельствования и нуждаются в документальном подтверждении</td>
                        <td>бесплатно</td>
                        <td>в день установления временной нетрудоспособности</td>
                        <td>бессрочно</td>
                    </tr>
                    <tr>
                        <td>Выдача медицинской справки о состоянии здоровья</td>
                        <td>диспансер</td>
                        <td>паспорт или иной документ, удостоверяющий личность</td>
                        <td>бесплатно</td>
                        <td>1 день после проведения медицинского осмотра, медицинского освидетельствования</td>
                        <td>до 1 года</td>
                    </tr>
                    <tr>
                        <td>Выдача выписки из медицинских документов</td>
                        <td>диспансер</td>
                        <td>паспорт или иной документ, удостоверяющий личность</td>
                        <td>бесплатно</td>
                        <td>5 дней со дня обращения</td>
                        <td>бессрочно</td>
                    </tr>
                    <tr>
                        <td>Выдача дубликатов документов, указанных в пунктах 7.2, 7.4, 7.5, 7.6 настоящего перечня</td>
                        <td>организация здравоохранения, выдавшая документ</td>
                        <td>паспорт или иной документ, удостоверяющий личность</td>
                        <td>бесплатно</td>
                        <td>1 день со дня обращения – для получения дубликатов документов, предусмотренных в пунктах 7.4–7.6 настоящего перечня 3 дня со дня обращения – для получения дубликатов документов, предусмотренных в пунктах 7.2  настоящего перечня</td>
                        <td>на срок действия документа</td>
                    </tr>
                </table>
                <br>
            </div>
    </div>
</div>