<div class="container page">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>ПРИЕМНОЕ ОТДЕЛЕНИЕ</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11 col-md-offset-1" style="margin-bottom: 45px">
            <p><b>Заведующая отделением: Волович Татьяна Петровна</b></p>
            <p>Ординаторы: (врач-психиатр-нарколог): Воробьева Вера Андреевна</p>
            <p>(врач-психиатр-нарколог): Коберда Анастасия Владимировна</p>
            <p>Старшая медицинская сестра: Главатская Наталья Александровна</p>
            <p><b>Телефон: 35-60-82</b></p>
            <p>Порядок госпитализации: Приемное отделение работает <b>круглосуточно.</b></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <p class="text-center"><b>В случае внезапного возникновения психического расстройства вам необходимо обратиться по телефону 103 –
                    за экстренной психиатрической помощью.</b></p>
        </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p>При обращении в приемное отделение для плановой госпитализации при себе необходимо иметь:</p>
            <ul>
                <li>Паспорт</li>
                <li>Справку о прохождении флюорографии</li>
                <li>При наличии: свидетельство об инвалидности</li>
                <li>Выписные эпикризы</li>
            </ul>
            <p>При обращении для прохождения лечения на анонимной, платной основе в любое время суток, необходимо иметь:</p>
            <ul>
                <li>Паспорт (для заключения договора)</li>
                <li>Справку о прохождении флюорографии</li>
                <li>Наличные деньги (Белорусские рубли)</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1" style="margin-top: 25px">
            <p>История приемного отделения начинается с историей клинки с 1961 года. Первого пациента принимал дежурный врач-психиатр-нарколог
                Драпкин Яков Львович.</p>

            <p>В 1962 году был сдан в эксплуатацию главный корпус, в который было пермещенно приемное отделение.
                Новые условия позволили отделению работать по всем правилам санитарных правил и норм. Большие перемены
                в организации работы произошли за последние 10 лет.</p>
            <p>В настоящее время приемное отделение – это структурные подразделение, которое осуществляет прием, освидетельствование,
                сортировку, санитарную обработку, регистрацию и транспортировку пациентов в отделения.</p>
            <p>Непосредственно руководит деятельностью заведующая отделением Волович Татьяна Петровна.</p>
            <p>На базе приемного отделения проводятся диагностические и лечебные мероприятия пациентам, находящимся в критическом состоянии.</p>
        </div>
    </div>


</div>
</div>