<div class="container page">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>ДИСПАНСЕРНОЕ ОТДЕЛЕНИЕ</h3>
        </div>
    </div>
    <div class="row">
            <div class="col-md-10 col-md-offset-1">
               <div class="loading" *ngIf = "loaderCheck()">
                    <span>Загрузка таблицы... </span> <img src="/assets/images/loader.gif"/>
               </div>
               <table *ngIf = "!loaderCheck()" class="tbl" style="width: 100%">
                    <thead class="text-center">
                        <td><b>Должность</b></td>
                        <td><b>Ф.И.О.</b></td>
                        <td><b>Телефон</b></td>
                    </thead>
                    <tr *ngFor="let person of table">
                        <td>{{person.position}}</td>
                        <td>{{person.name}}</td>
                        <td style="text-align:center">{{person.phone}}</td>
                </tr>                
                </table>
            </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

<p>С приездом в горд Гомель Лидии Григорьевны Французовой – первого и единственного психиатра после войны, открылся в 1995 году
                Гомельский областной психоневрологический диспансер на 3 врачебные должности. Первоначально он был размещен в помещении поликлиники
                № 2. Главным врачом была назначена Французова Л.Г. Гомельским областным психоневрологическим диспансером осуществлялась
                психиатрическая помощь всей области. Врачами-психиатрами диспансера осуществлялась консультативная помощь во всех лечебных учреждениях
                города, а также пациентам, направленным из районов Гомельской области. Впоследствии, областной психоневрологический диспансер,
                вошел в состав Гомельской областной психиатрической больницы в качестве диспансерного отделения.
                В диспансерном отделении работали врачами: Жариков В.Г., Орлов И.Е., Козловский Л.В., Сутин Э.Я., Гуткин Э.З., Вулах А.Л., Козич Е.В.</p>
<p>После ухода Л.Г. Французовой возглавляли диспансерное отделение Жариков В.Г., Орлов И.Е., Козич Е.В., Мистюкевич П.Д. С 1995 по
                2015 годы отделение возглавлял Юрашкевич Владимир Дмитриевич. С 2015 по настоящее время отделением руководит Беглюк Наталья Викторовна.</p>
        </div>
    </div>
</div>