<div class="container page">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>ЭКСТРЕННАЯ ПОМОЩЬ</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">

<p>Экстренная психиатрическая помощь оказывается согласно:</p>
<p> Закон Республики Беларусь 7 января 2012 г. № 349-З «Об оказании психиатрической помощи».</p>
<p>2. Постановление МИНИСТЕРСТВА ЗДРАВООХРАНЕНИЯ РЕСПУБЛИКИ БЕЛАРУСЬ
15 августа 2012 г. № 126 «Об утверждении инструкции о порядке оказания скорой психиатрической помощи».</p>
<p>В случае возникновения у Вас или человека находящегося рядом с Вами психического расстройства, в результате 
    которого человек страдающий психическим расстройством может совершить действия, представляющие угрозу для него самого и (или) окружающих:</p>
Необходимо незамедлительно вызвать скорую медицинскую помощь по телефону:
<h3 style="text-align:center">103</h3>
<p>В случае вероятности угрозы человеческой жизни или здоровью дополнительно следует вызвать сотрудников милиции по телефону:</p>
<h3 style="text-align:center">102</h3>
        </div>
    </div>
</div>