<div class="container page">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>ПСИХОЛОГИЧЕСКАЯ ПОМОЩЬ</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p><b>Психологическая помощь</b>–  область практического применения психологии, ориентированная на повышение социально-психологической 
            компетентности людей и оказания психологической помощи как отдельному человеку, так и группе или организации.
            </p>
            <p>Это непосредственная работа с людьми, направленная на решение различного рода 
                психологических проблем, связанных с трудностями в межличностных отношениях, 
                а также глубинных личностных проблем.
            </p>
            <ul>
                <li>Сеанс  индивидуальной психологической коррекции</li>
                <li>Частичная психологическая диагностика: исследование личности, памяти, внимания, мышления, восприятия</li>
                <li>Полная психологическая диагностика</li>
                <li>Семейная психологическая коррекция</li>
                <li>Психологическое консультирование (психологическая помощь людям, находящимся в пределах 
                    психологической нормы в адаптации, развитии и расширении личностного потенциала)</li>
                <li>Психокоррекция (восстановление нормы, как с точки зрения эмоционального состояния, 
                    так и с точки зрения личностных черт)</li>
            </ul>
            <p>Прейскурант цен на психологическую помощь.</p>
        </div>
    </div>
</div>