<div class="container page">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>ДНЕВНОЙ СТАЦИОНАР</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h4><b>Дневной стационар № 1</b></h4>
            <p><b>Заведующий отделением: Азема Наталья Сергеевна.</b></p>
            <p>Ординатор (врач-психотерапевт): Горбунова Екатерина Александровна.</p>
            <p>Ординатор (врач-реабилитолог): Куликова Одэна Павловна</p>
            <p>Старшая медицинская сестра: Кусовская Анна Ивановна.</p>
            <p><b>Телефон: 35-62-35</b></p>
            <p>Дневной стационар, как новая форма организации лечения психически больных в нашей больнице открыт в 1968 году,
                первым заведующим отделения был назначен Лютиков Геннадий Евгеньевич, в этой должности он проработал по 1982 год.</p>
            <p>Основной задачей, которая стояла перед дневным стационаром – это ранняя реабилитация, что предполагало современное
                распознавание психических заболеваний, начинающихся рецидивов и обострений, лечебно-восстановительных мероприятий.</p>
            <p>С 1982 года заведующей отделения стала Куликова Одэна Павловна, которая проработала на этом посту до 2003 года.</p>
            <p>С 2003 по настоящее время отделение возглавляет Азема Наталья Сергеевна.</p>
            <p>На данный момент отделение развернуто на 90 коек. В структуре отделения функционирует кабинет реабилитации, в рамках
                деятельности которого осуществляется восстановление
                социальной и трудовой активности лиц страдающих психическими расстройствами. При лечении пациентов используется современный
                спектр медикаментозных препаратов, антипсихотиков, антидепрессантов, анксиолитиков, адаптогенов, нормотимиков, витаминов,
                кардио и нейропротекторов. Лечение в дневной стационаре получают пациенты с такими заболеваниями как шизофрения различной
                этиологии, депрессивные эпизоды, тревожные расстройства, панические атаки, нарушения сна, тикозные расстройства,
                органическая патология различного генеза. Основным условием нахождения в дневном стационаре является компенсированная
                форма психического расстройства (отсутствие психотических симптомов (галлюцинации, бредовые высказывания, грубые
                нарушения мышления) а также отсутствие выраженных суицидальных тенденций.</p>

            <h4><b>Дневной стационар № 2</b></h4>
            <p><b>Заведующий отделением: Лысенков Андрей Александрович.</b></p>
            <p>Ординатор (врач-психотерапевт): Селицкий Владислав Станиславович.</p>
            <p>(врач-психиатр-нарколог): Тесновец Екатерина Владимировна</p>
            <p>Старшая медицинская сестра: Васильева Инна Николаевна.</p>
            <p><b>Телефон: 35-60-45</b></p>
            <p>Первое мужское общепсихиатрическое отделение было основано в 1961 году. Отделение открывал врачи психиатр Чернов
                Григорий Львович. Ему на смену пришел работать заведующим в отделении Роговский Иосиф Иванович.</p>
            <p>Дневной стационар № 2 открыт в 2009 году на базе первого женского общепсихиатрического отделения заведующим отделения.
                Заведующим отделения является Лысенков Андрей Александрович. Отделение рассчитано на 100 человек.</p>
            <p>Дневной стационар № 2 осуществляет весь комплекс специализированной лечебной помощи: консультативную и профилактическую,
                амбулаторное обследование и лечение, решает экспертные и социальные вопросы.
            В отделении проходят лечение пациенты с различной психической патологией. Основной процент составляют больные шизофренией
                и острыми психотическими, аффективными и невротическими расстройствами, а также пациенты с органическими расстройствами, психическими расстройствами при эпилепсии, расстройствами личности и умственной отсталостью. В отделении проходят лечение и реабилитацию подростки с эмоциональными расстройствами поведения, характерными для данного возраста.
            С первого дня открытия больницы и по сегодняшние дни мы, шагая в ногу со временем, прошли весь путь развития психиатрии.
                В сегодняшние дни многое изменилось, появилось много нового, изменился подход к лечению и диагностике психических
                заболеваний. Но мы чтим тот бесценный опыт, который был получен теми, кто работал до нас, и продолжаем традиции
                предыдущих поколений.</p>

            <h4><b>Дневной стационар для детей.</b></h4>
            <p><b>Врач-ординатор: Дымников Павел Сергеевич.</b></p>
            <p><b>Телефон: 35-60-45</b></p>
        </div>
    </div>
</div>