<div class="container page">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>ОТДЕЛЕНИЯ ПОГРАНИЧНЫХ СОСТОЯНИЙ</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h4>Отделение № 2</h4>
<p><b>Заведующая отделением: Соловьева Ирина Владимировна</b></p>
<p><b>Врач-психотерапевт: Курлович Ольга Владимировна</b></p>
<p><b>Старшая медицинская сестра: Ксендзова Светлана Васильевна</b></p>
<p><b>Телефон: 35-62-47</b></p>
<p>Отделение № 2 было открыто летом 1961 года, как общепсихиатрическое отделение. 
    Первым заведующим отделением был Чернов Михаил Рувимович. Отделение на момент 
    открытия было развернуто на 65 коек.</p>
   <p>С марта 1962 года отделением руководил Лютиков Геннадий Евгеньевич, 
       старшей медицинской сестрой являлась Петухов Наталья Ивановна.
        Мощность отделения возросла до 100 коек. </p>
    <p>В последующем отделение возглавляли Лесько Галина Иосифовна, 
        Нисенбаум Аркадий Борисовч, Мирющенко Раиса Григорьевна, 
        Ковалик Наталья Владимировна, Раевская Ирина Леонидовна.
         До 2005 года отделение сохраняло статус общепсихиатрического. 
         С 2004 года по настоящее время отделением руководит Соловьева Ирина Владимировна.
          1 апреля 2005 года отделение перепрофилировано для оказания помощи пациентам 
          психоневрологического профиля. Коечная мощность на данный момент 
          составляет 50 мест. Специалисты отделения (врач-психиатр, врач-психотерапевт, 
          психолог) используют комплексный подход в лечении расстройств невротического 
          спектра (депрессивные эпизоды, тревожные расстройства, расстройства адаптации, 
          панические атаки, расстройства сна). В лечении используют современные методы 
          психотерапии, антидепрессанты, анксиолитики, ноотропы, кардиотонические препараты,
          нейропротекторы. Отделение является открытым, т.е. пациенты свободно могут 
          перемещаться в пределах отделения и по территории клиники.</p>

<h4>Отделение № 16</h4>
<p><b>Заведующий отделением: Кунцевич Елена Михайловна.</b></p>
<p><b>Ординатор: Радомская Оксана Ивановна.</b></p>
<p><b>Старшая медицинская сестра: Ефименко Наталья Сергеевна.</b></p>
<p><b>Телефон: 35-60-46</b></p>
<p>Первым заведующим отделения с 1978 по 1984 годы была Фещенко Марина Владимировна, 
    с 1984 по 1992 годы Бартошевич Владимир Викторович, с 1992 по 1998 годы Филипенко 
    Владимир Владимирович, с 1998 год по настоящее время заведующей является Кунцевич 
    Елена Михайловна.</p>
<p>Отделение пограничных состояний оказывает специализированную помощь лицам, 
    страдающим от невротического спектра психических расстройств, в который входят
     депрессивные, тревожные, обсессивно-компульсивные расстройства, нарушения сна, 
     панические атаки, расстройства адаптации.</p>
<p>Госпитализация в отделение осуществляется, преимущественно, в планово порядке по 
    направлению врачей-психиатров, психотерапевтом, врачей смежных специальностей.</p>
<p>В структуре отделения лечебные мероприятия основаны на применении биологических и 
    психотерапевтических методов лечения.</p>
<p>Отделение развернуто на 55 коек, является открытым, т.е. пациенты свободно перемещаются 
    в пределах отделения и по территории клиники.</p>
        </div>
    </div>
</div>





