<div class="container page">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>ЦЕНТР ПОГРАНИЧНЫХ СОСТОЯНИЙ</h3>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p>С целью повышения доступности психотерапевтической помощи для населения города Гомеля, прием врачей психотерапевтом был вынесен
                из диспансерного отделения психиатрической больницы, в общеполиклиническую сеть города.</p>
            <p>За помощью к врачам психотерапевтам вы можете обратиться в следующие поликлиники города Гомеля:</p>
             <ul>
                 <li> Учреждение «Гомельская областная клиническая психиатрическая больница», диспансерное отделение,
                     ул. Добрушская1 – Рузанова Лариса Владимировна</li>
                 <li>ГУЗ «Гомельская центральная городская поликлиника», ул. Юбилейная 7А – Коваленок Тамара Григорьевна</li>
                 <li>ГУЗ «Гомельская центральная городская поликлиника» филиал № 1, ул. Косарева 11</li>
                 <li>ГУЗ «Гомельская центральная городская поликлиника» филиал № 2, ул. Бочкина 182 А – Раков Валерий Иванович</li>
                 <li>ГУЗ «Гомельская центральная городская поликлиника» филиал № 3, ул. Огоренко – Презова Инна Михайловна.</li>
                 <li>ГУЗ «Гомельская центральная городская поликлиника» филиал № 6, ул. Новополесская 11 – Кузьмич Светлана Владимировна.</li>
                 <li>ГУЗ «Гомельская центральная городская поликлиника» филиал № 8, ул. Богданова 12 корп. 2 – Муштак Михаил Иванович.</li>
                 <li>ГУЗ «Гомельская центральная городская поликлиника» филиал № 9, ул. Клермон-Ферран 2 – Сквира Иван Михайлович.</li>
                 <li>ГУЗ «Гомельская центральная городская поликлиника» филиал № 10, ул. Комсомольская 4 – Евсюков Виктор Степанович.</li>
                 <li>Учреждение «Гомельская областная клиническая поликлиника», ул. Артема 4 – Платонова Наталья Ивановна.</li>
                 <li>Учреждение «Гомельский областной диагностический медико-генетический центр с консультацией «Брак и Семья»,
                     ул. Кирова 57 – Таргонская Ирина Ивановна.</li>
             </ul>
       </div>
    </div>
</div>