<div class="container page">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>Анализы, УЗИ, ЭЭГ, Рентнген-исследования</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p><b>Лабораторная диагностика</b> — совокупность методов, направленных на 
            анализ исследуемого материала с помощью различного специализированного
             оборудования.</p>

            <p><b>Клинический анализ кро́ви</b> — врачебный лабораторный анализ, позволяющий 
            оценить не только содержание гемоглобина и скорость оседания эритроцитов (СОЭ), 
            но и количество эритроцитов, цветовой показатель, количество лейкоцитов и 
            лейкоцитарную формулу (лейкограмму),тромбоцитов. Данный анализ позволяет 
            выявить наличие анемии, а также воспалительного процесса и новообразования 
            форменных элементов крови.</p>

            <p><b>Биохимический анализ крови</b> — лабораторный метод диагностики, 
            применяемый в клинической практике для определения функционального состояния 
            систем и тканей организма человека. Биохимический анализ помогает выявить 
            нарушение функции печени, почек, расстройство белкового, липидного и углеводного
            обмена, диагностировать наличие активного воспалительного процесса, в том числе 
            ревматического, а также различные расстройства водно-электролитного обмена и 
            степень дисбаланса микроэлементов. Таким образом, проведение биохимического 
            анализа крови позволяет не только выявить патологию, но и определить степень 
            остроты воспалительного процесса, назначить или скорректировать лечение.</p>

            <p><b>Общий анализ мочи</b> — лабораторное исследование мочи, проводимое для 
            нужд медицинской практики, как правило, с диагностической целью. Включает 
            органолептическое, физико-химическое и биохимическое исследования, а также 
            микробиологическое исследование и микроскопическое изучение мочевого осадка.</p>

            <p><b>Ультразвуковое исследование (УЗИ)</b> — неинвазивное исследование организма 
            человека или животного с помощью ультразвуковых волн. Ультразвуковое исследование 
            является широко используемым методом обследования пациента и позволяет 
            диагностировать достаточно большое количество заболеваний, таких как онкологические
            заболевания, хронические диффузные изменения в органах (диффузные изменения в печени 
            и поджелудочной железе, почках и паренхиме почек, предстательной железе, наличие 
            конкрементов в желчном пузыре, почках, наличие аномалий внутренних органов, жидкостных 
            образований в органах.</p>
            <p>В силу физических особенностей не все органы можно достоверно исследовать 
                ультразвуковым методом, например, полые органы желудочно-кишечного тракта 
                труднодоступны для исследования из-за содержания в них газа. Тем не менее, 
                ультразвуковая диагностика может применяться для определения признаков 
                кишечной непроходимости и косвенных признаков спаечного процесса. При помощи
                 ультразвукового исследования можно обнаружить наличие свободной жидкости в 
                 брюшной полости, если её достаточно много, что может играть решающую роль 
                 в лечебной тактике ряда терапевтических и хирургических заболеваний и травм.</p>
            <p>Ультразвуковое исследование в целом считается безопасным способом получения 
                информации.</p>

            <p><b>Электрокардиография (ЭКГ)</b> — методика регистрации и исследования 
            электрических полей, образующихся при работе сердца. Электрокардиография 
            представляет собой относительно недорогой, но ценный методэлектрофизиологической
             инструментальной диагностики в кардиологии.</p>

            <p><b>Электроэнцефалография (ЭЭГ)</b> — раздел электрофизиологии, изучающий 
            закономерности суммарной электрической активности мозга, отводимой с поверхности
            кожи головы, а также метод записи таких потенциалов (формирования 
            электроэнцефалограмм). Также ЭЭГ — неинвазивный метод исследования 
            функционального состояния головного мозга путём регистрации его биоэлектрической 
            активности.</p>
            <p>ЭЭГ — чувствительный метод исследования, он отражает малейшие изменения 
                функции коры головного мозга и глубинных мозговых структур, обеспечивая 
                миллисекундное временное разрешение, не доступное другим методам 
                исследования мозговой активности, в частности ПЭТ и фМРТ.</p>
            <p>Электроэнцефалография дает возможность качественного и количественного 
                анализа функционального состояния головного мозга и его реакций при 
                действии раздражителей. Запись ЭЭГ широко применяется в диагностической 
                и лечебной работе (особенно часто при эпилепсии), в анестезиологии, а 
                также при изучении деятельности мозга, связанной с реализацией таких 
                функций, как восприятие, память, адаптация и т. д.</p>
            <p>На электроэнцефалограммах заметна ритмичность электрической активности мозга.</p>
            <p>Регистрация ЭЭГ производится прибором электроэнцефалограф через специальные 
                электроды.</p>

            <p><b>Рентгенография</b>  — исследование внутренней структуры объектов, 
            которые проецируются при помощи рентгеновских лучей на специальную плёнку 
            или бумагу. Наиболее часто термин относится к медицинскому неинвазивному 
            исследованию, основанному на получении суммарного проекционного изображения 
            анатомических структур организма посредством прохождения через них 
            рентгеновских лучей и регистрации степени ослабления рентгеновского излучения.</p>

            <p>Прейскурант цен на клинико-лабораторную, инструментальную диагностику.</p>
        </div>
    </div>
</div>