<div class="container page">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>ПОВЫШЕНИЕ КВАЛИФИКАЦИИ</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p>Постановление МИНИСТЕРСТВА ЗДРАВООХРАНЕНИЯ РЕСПУБЛИКИ БЕЛАРУСЬ
                11 августа 2004 г. № 31 «Об утверждении инструкции о порядке организации повышения квалификации и переподготовки работников системы здравоохранения».</p>
            <br>
            <p>Постановление МИНИСТЕРСТВА ЗДРАВООХРАНЕНИЯ РЕСПУБЛИКИ БЕЛАРУСЬ
            22 декабря 2008 г. № 232 «Об утверждении инструкции о порядке присвоения (снижения, лишения) квалификационных категорий медицинским, фармацевтическим работникам и иным работникам здравоохранения».</p>
            <br>
            <ul> Для присвоения квалификационной категории, если иное не предусмотрено настоящей Инструкцией, требуется:
                <li>второй – стаж работы по специальности, соответствующей занимаемой должности, два года;</li>
                <li>первой – стаж работы по специальности пять лет и время работы во второй квалификационной категории в одной должности (перед присвоением) не менее трех лет;</li>
                <li>высшей – стаж работы по специальности восемь лет и время работы в первой квалификационной категории в одной должности (перед присвоением) – не менее трех лет.</li>
            </ul>
            <br>
            <ul>При этом в стаж работы по специальности засчитываются:
                <li>прохождение интернатуры (стажировки), подготовка в клинической ординатуре, на II ступени высшего образования по профилю образования «Здравоохранение» (в магистратуре), в аспирантуре и докторантуре (далее – подготовка в клинической ординатуре, магистратуре, аспирантуре, докторантуре) по специальности, соответствующей квалификационному экзамену;</li>
                <li>время работы на должностях в аппарате Министерства здравоохранения Республики Беларусь, в главных управлениях, управлениях (отделах) здравоохранения областных исполнительных комитетов (комитете по здравоохранению Минского городского исполнительного комитета), органах управления здравоохранением ведомственных организаций здравоохранения;</li>
                <li>время работы по данной специальности на должностях в организациях здравоохранения, государственных учреждениях образования, реализующих образовательные программы дополнительного образования взрослых, среднего специального, высшего образования по профилю образования «Здравоохранение» (далее – учреждения образования), государственных медицинских, фармацевтических научных организациях, у индивидуальных предпринимателей;</li>
                <li>время работы на должностях по квалификациям, предусмотренным номенклатурой должностей медицинских, фармацевтических работников, и в дальнейшем переименованных.</li>
            </ul>
            <br>
            <ul>Работники, претендующие на получение квалификационной категории, подают в квалификационную комиссию следующие квалификационные документы (далее – документы):
                <li> представление на работника, подписанное руководителем или уполномоченным заместителем руководителя организации, индивидуальным предпринимателем, в которой (у которого) он работает;</li>
                <li>2. заявление;</li>
                <li>3. квалификационный лист;</li>
                <li>4. отчет о профессиональной деятельности работника за три года (для получения второй квалификационной категории – два года), предшествующие квалификационному экзамену, объемом не менее 4 машинописных листов (табличные материалы в объем отчета не включаются).
                    Отчет о профессиональной деятельности работника должен быть утвержден руководителями и уполномоченными заместителями руководителя организаций;
                    заключение на отчет о профессиональной деятельности работника:
                    главного специалиста главного управления, управления (отдела) здравоохранения областного исполнительного комитета – для фармацевтических работников с высшим фармацевтическим образованием указанных органов и организаций, а также организаций, подчиненных указанным органам и организациям, негосударственных 
                    организаций здравоохранения и индивидуальных предпринимателей;
                </li>
                <li>5. копии (ксерокопии), заверенные кадровой службой, руководителем организации или нотариально:</li>
                    <ul>
                        <li>документов об образовании, удостоверений о ранее присвоенных квалификационных категориях, свидетельства о браке или документа, подтверждающего изменение фамилии (для лиц, изменивших фамилию после получения диплома, присвоения квалификационной категории);</li>
                        <li>трудовой книжки – для работников, подающих документы в республиканскую квалификационную комиссию, квалификационные комиссии главных управлений, управлений (отделов) здравоохранения областных исполнительных комитетов (комитета по здравоохранению Минского городского исполнительного комитета);</li>
                        <li>документа о прохождении интернатуры (стажировки) – для работников, занявших должности врача-специалиста, провизора-специалиста впервые после 17 августа 1992 г.;</li>
                        <li>диплома о переподготовке на уровне высшего (среднего специального) образования – для работников, занимающих должности, для занятия которых в соответствии с законодательством Республики Беларусь требуется прохождение переподготовки;</li>
                        <li>документов, подтверждающих объем времени профессиональной подготовки (о прохождении курсов повышения квалификации, подготовке в клинической ординатуре, магистратуре, аспирантуре, докторантуре, участии в научно-практических конференциях, семинарах, симпозиумах и других мероприятиях).</li>
                    </ul>
                </ul>
                <br>
                <ul>Объем времени профессиональной подготовки должен составлять:
                    <li>для работников, имеющих высшее образование, – не менее 160 часов в течение пяти лет, предшествующих квалификационному экзамену, с учетом одних обязательных курсов повышения квалификации по очной форме обучения или курсов переподготовки в учреждениях образования, реализующих образовательные программы дополнительного образования взрослых по профилю образования «Здравоохранение», а также подготовки в клинической ординатуре, магистратуре, аспирантуре, докторантуре, на рабочем месте, дистанционного обучения, 
                        участия в съездах, семинарах, научно-практических конференциях, симпозиумах и других мероприятиях, проводимых в целях совершенствования профессиональных знаний по специальности в Республике Беларусь и за ее пределами, при условии направления (согласования) для участия в них Министерством здравоохранения Республики Беларусь, главными управлениями, управлениями (отделами) здравоохранения областных исполнительных комитетов (комитета по здравоохранению Минского городского исполнительного комитета), органами управления здравоохранением ведомственных организаций здравоохранения, имеющими в подчинении организации здравоохранения, или руководителями организаций;</li>
                    <li>для выпускников государственных учреждений высшего образования, реализующих образовательные программы по профилю образования «Здравоохранение», претендующих на получение квалификационной категории впервые, по истечении первых двух лет работы и наличии стажа работы по специальности не более четырех лет при соответствии квалификации интернатуры (стажировки) занимаемой должности – не менее 80 часов за счет курсов повышения квалификации;</li>
                    <li>для работников, имеющих среднее специальное образование, – не менее 80 часов в течение пяти лет, предшествующих квалификационному экзамену, за счет курсов повышения квалификации или переподготовки.</li>
                </ul>
                <br>
            <a href='#'>Вопросы на II категорию по специальности врач психиатр-нарколог.</a><br>
            <a href='#'>Вопросы на I категорию по специальности врач психиатр-нарколог.</a><br>
            <a href='#'>Ситуационные задачи по специальности врач-психиатр-нарколог</a><br>
            <a href='#'>Вопросы на I категорию по специальности врач психотерапевт.</a><br>
            <a href='#'>Вопросы на II категорию по специальности врач психотерапевт.</a>
        </div>
    </div>
</div>