<nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">

            <li>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <img class="logo" src="assets/images/horse.png"/>О КЛИНИКЕ                 
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a routerLink="/administration" routerLinkActive="active">Администрация</a></li>
                  <li><a routerLink="/history" routerLinkActive="active">История</a></li>
                  <li><a routerLink="/about" routerLinkActive="active">О клинике</a></li>
                  <li><a routerLink="/appeals" routerLinkActive="active">Обращения</a></li>
                </ul>
              </div>
            </li>

            <li>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                 <img class="logo" src="assets/images/horse.png"/>
                 НОВОСТИ                 
                </button>                
              </div>
            </li>
              
            <li>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                 <img class="logo" src="assets/images/horse.png"/>
                 ОТДЕЛЕНИЯ                 
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a routerLink="/dispanser" routerLinkAktive="true">Диспансерное отделение</a></li>
                  <li><a routerLink="/admission" routerLinkActive="true">Приемное отделение</a></li>
                  <li><a routerLink="/preborder-center" routerLinkActive="true">Центр пограничных состояний</a></li>
                  <li><a routerLink="/pediatric" routerLinkActive="true">Педиатрическое отделение</a></li>
                  <li><a routerLink="/daily" routerLinkActive="true">Дневной стационар</a></li>
                  <li><a routerLink="/preborder" routerLinkActive="true">Отделение пограничных состояний</a></li>
                  <li><a routerLink="/common-psychiatry" routerLinkActive="true">Общепсихиатрическое отделение</a></li>
                  <li><a routerLink="/medico-psychiatry" routerLinkActive="true">Медико-психологическое отделение</a></li>
                  <li><a routerLink="/organize-methodic" routerLinkActive="true">Организационно-методический отдел</a></li>
                </ul>
              </div>
            </li>

            <li>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                 <img class="logo" src="assets/images/horse.png"/>
                 УСЛУГИ                 
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a routerLink="/narcological" routerLinkActive="true">Наркологическая помощь</a></li>
                  <li><a a routerLink="/psychotherapeutic" routerLinkActive="true">Психотерапевтическая помощь</a></li>
                  <li><a a routerLink="/psychiatric" routerLinkActive="true">Психиатрическая помощь</a></li>
                  <li><a a routerLink="/sexological" routerLinkActive="true">Сексологическая помощь</a></li>
                  <li><a  a routerLink="/psychological" routerLinkActive="true">Психологическая помощь</a></li>
                  <li><a routerLink="/analyzes" routerActiveLink="true">Анализы, Узи, Рентген-исследования</a></li>
                  <li><a routerLink="/massage" routerLinkActive="true">Массаж</a></li>
                  <li><a  routerLink="/physiotherapy" routerLinkActive="true">Физиотерапия</a></li>
                </ul>
              </div>
            </li>

            <li>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                 <img class="logo" src="assets/images/horse.png"/>
                 СПЕЦИАЛИСТАМ                 
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a routerLink="/regulatory-base" routerLinkActive="true">Нормативно-правовая база</a></li>
                  <li><a routerLink="/prevention-suicide" routerLinkActive="true">Профилактика суицидов</a></li>
                  <li><a routerLink="/methodical-materials" routerLinkActive="true">Методические материалы</a></li>
                  <li><a routerLink="/conferences" routerLinkActive="true">Конференции</a></li>
                  <li><a routerLink="/trainings" routerLinkActive="true">Повышение квалификации</a></li>
                </ul>
              </div>
            </li>

            <li>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                 <img class="logo" src="assets/images/horse.png"/>
                 ПАЦИЕНТАМ                 
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a routerLink="/information" routerLinkActive="true">Справки</a></li>
                  <li><a routerLink="/scheme" routerLinkActive="true">Схема расположения корпусов</a></li>
                  <li><a routerLink="/hospitalization" routerLinkActive="true">Порядок госпитализации</a></li>
                  <li><a routerLink="/inner-rules" routerLinkActive="true">Правила внутреннего распорядка</a></li>
                  <li><a routerLink="/contacts" routerLinkActive="true">Контакты</a></li>
                </ul>
              </div>
            </li>

            <li>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                 <img class="logo" src="assets/images/horse.png"/>
                 ЗОЖ                 
                </button>                
              </div>
            </li>

            <li>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                 <img class="logo" src="assets/images/horse.png"/>
                 СТАТЬИ                 
                </button>                
              </div>
            </li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>