<nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">

            <li>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <img class="logo" src="assets/images/horse.png"/>О КЛИНИКЕ                 
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a routerLink="/administration" routerLinkActive="active">Администрация</a></li>
                  <li><a routerLink="/history" routerLinkActive="active">История</a></li>
                  <li><a routerLink="/about" routerLinkActive="active">О клинике</a></li>
                  <li><a routerLink="/appeals" routerLinkActive="active">Обращения</a></li>
                </ul>
              </div>
            </li>

            <li>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                 <img class="logo" src="assets/images/horse.png"/>
                 НОВОСТИ                 
                </button>                
              </div>
            </li>
              
            <li>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                 <img class="logo" src="assets/images/horse.png"/>
                 ОТДЕЛЕНИЯ                 
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a routerLink="/dispanser" routerLinkAktive="true">Диспансерное отделение</a></li>
                  <li><a routerLink="/admission" routerLinkActive="active">Приемное отделение</a></li>
                  <li><a>Центр пограничных состояний</a></li>
                  <li><a>Педиатрическое отделение</a></li>
                  <li><a routerLink="/daily" routerLinkActive="true">Дневной стационар</a></li>
                  <li><a>Отделение пограничных состояний</a></li>
                  <li><a routerLink="/common-psychiatry" routerLinkActive="active">Общепсихиатрическое отделение</a></li>
                  <li><a>Медико-психологическое отделение</a></li>
                  <li><a>Организационно-методический отдел</a></li>
                </ul>
              </div>
            </li>

            <li>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                 <img class="logo" src="assets/images/horse.png"/>
                 УСЛУГИ                 
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#">Наркологическая помощь</a></li>
                  <li><a href="#">Психотерапевтическая помощь</a></li>
                  <li><a href="#">Психиатрическая помощь</a></li>
                  <li><a href="#">Сексологическая помощь</a></li>
                  <li><a href="#">Психологическая помощь</a></li>
                  <li><a href="#">Анализы, Узи, Рентген-исследования</a></li>
                  <li><a href="#">Массаж</a></li>
                  <li><a href="#">Физиотерапия</a></li>
                </ul>
              </div>
            </li>

            <li>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                 <img class="logo" src="assets/images/horse.png"/>
                 СПЕЦИАЛИСТАМ                 
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#">Нормативно-правовая база</a></li>
                  <li><a href="#">Профилактика суицидов</a></li>
                  <li><a href="#">Методические материалы</a></li>
                  <li><a href="#">Конференции</a></li>
                  <li><a href="#">Повышение квалификации</a></li>
                </ul>
              </div>
            </li>

            <li>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                 <img class="logo" src="assets/images/horse.png"/>
                 ПАЦИЕНТАМ                 
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#">Справки</a></li>
                  <li><a href="#">Схема расположения корпусов</a></li>
                  <li><a href="#">Порядок госпитализации</a></li>
                  <li><a href="#">Правила внутреннего распорядка</a></li>
                  <li><a href="#">Контакты</a></li>
                </ul>
              </div>
            </li>

            <li>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                 <img class="logo" src="assets/images/horse.png"/>
                 ЗОЖ                 
                </button>                
              </div>
            </li>

            <li>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                 <img class="logo" src="assets/images/horse.png"/>
                 СТАТЬИ                 
                </button>                
              </div>
            </li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>