<div class="container page">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>АНОНИМНАЯ ПОМОЩЬ</h3>
            <p>В учреждении «Гомельская областная клиническая психиатрическая больница» вы можете получить специализированную медицинскую помощь
                на анонимной основе (без занесения ваших реальных данных в медицинскую документацию) и последующей постановке на учет в
                психиатрический или наркологический реестр.</p>
            <p> Анонимная помощь оказывается согласно:
                Постановлению МИНИСТЕРСТВА ЗДРАВООХРАНЕНИЯ РЕСПУБЛИКИ БЕЛАРУСЬ ОТ 24 июля 2012 г. № 111 «Об утверждении инструкции о порядке и условиях оказания медицинской, в том числе психиатрической, помощи анонимно».
                Медицинская помощь оказывается анонимно в организациях здравоохранения в амбулаторных и стационарных условиях, а также на дому без занесения подлинных фамилии, собственного имени, отчества (если таковое имеется), места жительства (места пребывания) пациента в медицинские документы и включает диагностику, лечение, медицинскую реабилитацию, профилактику и протезирование.
            </p><h4>Анонимно может оказываться следующая медицинская помощь:</h4>
                <ul>
                    <li>медико-психологическая и социальная реабилитация лиц с синдромом отрицания пола</li>
                    <li>психиатрическое обследование лиц, осуществляемое по их желанию, при отсутствии медицинских показаний</li>
                    <li>применение по желанию лиц методик психотерапии взрослых и семейной психотерапии</li>
                    <li>психотерапевтическая помощь</li>
                    <li>наркологическая и токсикологическая помощь</li>
                    <li>назначение лекарственных средств лицам, признанным больными хроническим алкоголизмом, наркоманией, токсикоманией,
                        страдающим никотиновой, игровой и компьютерной зависимостью, а также в связи с потреблением и вредными последствиями алкоголя,
                        наркотических средств, психотропных, токсических и других одурманивающих веществ</li>
                    <li>оказание психиатрической помощи при пограничных формах психических и поведенческих расстройств (заболеваний),
                        за исключением пациентов, за которыми в соответствии с законодательством Республики Беларусь должно быть установлено
                        диспансерное наблюдение</li>
                    <li>сексологическая помощь</li>
                    <li>диагностика и лечение заболеваний с применением нетрадиционных методов</li>
                    <li>обследование на наличие инфекций, передающихся половым путем</li>
                    <li>обследование на наличие антител к вирусу иммунодефицита человека</li>
                </ul>
                <p>В организациях здравоохранения при оказании медицинской помощи анонимно может осуществляться психологическое консультирование.
                Стоимость медицинских услуг, оказываемых анонимно, определяется в соответствии с законодательством Республики Беларусь.
                Пациентам, получающим медицинскую помощь анонимно, не выдаются медицинские документы, подтверждающие оказание такой помощи анонимно.
                    В интересах пациента может быть выдана на руки памятка, содержащая информацию об опасности нарушений врачебных предписаний.</p>


            <h4>Вы можете получить следующие медицинские услуги анонимно:</h4>
            <ul>
                <li>наркологическую помощь</li>
                <li>психотерапевтическую помощь</li>
                <li>психологическую помощь</li>
                <li>психиатрическую помощь</li>
                <li>сексологическую помощь</li>
            </ul>

            <h4>Наркологическая помощь:</h4>
            <ul>
                <li>купирование абстинентного синдрома в результате употребления алкоголя, наркотиков</li>
                <li>постановка аверсивного препарата «Торпедо», «Эспераль» (кодирование)</li>
            </ul>

            <h4>Психотерапевтическая помощь:</h4>
            <ul>
                <li>индивидуальное консультирование</li>
                <li>применение психотерапевтических методик (НЛП, гештальт-терапия, арт-терапия,
                    когнитивно-бихевиоральная терапия, эриксоновский гипноз)</li>
                <li>релаксация</li>
            </ul>

            <h4>Психиатрическая помощь:</h4>
            <ul>
                <li>индивидуальное консультирование</li>
                <li>медикаментозное лечение невротических расстройств: тревожных расстройств, расстройств настроения, нарушений сна,
                    панических атак, фобий, навязчивых страхов, состояний</li>
            </ul>

            <h4>Психологическая помощь:</h4>
            <ul>
                <li>индивидуальное консультирование</li>
                <li>психометрическое исследование</li>
            </ul>

            <h3 style="font-style: italic">Для получения специализированной помощи на анонимной основе, необходимо при себе иметь:</h3>
            <ul>
                <li>Паспорт (для заключения договора)</li>
                <li>Наличные белорусские деньги/Пластиковую платежную карту (при обращении в учреждение с 8:00-18:00 по будням и с 8:00-12:00 в субботу)</li>
                <li>При обращении в ночное время, выходные и праздничные дни при себе иметь наличные</li>
            </ul>

             </div>
    </div>


</div>