<div class="container page">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>НАРКОЛОГИЧЕСКАЯ ПОМОЩЬ</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p>Наркологическая помощь оказывается пациентам анонимно, на платной основе. Порядок оказания помощи анонимно на платной основе 
                <a routerLink="/anonim" routerActiveLink="active"> перейти-></a></p>

            <ul>Анонимная наркологическая помощь (без постановки на учет к психиатру или наркологу) оказывается на базе:
                <li><a routerLink="/daily" routerActiveLink="true">отделений дневного пребывания</a></li>
                <li><a routerLink="/preborder" routerActiveLink="true">отделений пограничных состояний</a></li>
                <li><a routerLink="/common-psychiatry" routerActiveLink="true">общепсихиатрических отделений</a></li>
            </ul>

            <p></p>
            <ul>В клинике оказывается следующая наркологическая помощь:
                <li>купирование абстинентного синдрома в результате употребления алкоголя, наркотиков. («выведение из запоя»)</li>
                <li>лабораторное обследование (общий анализ крови, биохимический анализ крови с определением функциональных показателей работы печени, почек)</li>
                <li>электрокардиографическое обследование</li>
                <li>внутривенное введение/Внутримышечная имплантация аверсивного (вызывающего непереносимость алкоголя) препарата «Торпедо», «Эспераль»</li>
                <li>психотерапевтическое кодирование (эмоционально-стрессовая психотерапия)</li>
                <li>психологическое консультирование, психометрическое исследование</li>
                <li>консультация терапевта, невролога</li>
                <li><a href="/analyzes">узи-исследование</a> внутренних органов (печени, почек, поджелудочной железы, желчного пузыря, мочевого пузыря, щитовидной железы)</li>
                <li><a routerLink="/analyzes" routerLinkActive="true">электро-энцефалографическое исследования</a> деятельности головного мозга</li>
                <li><a routerLink="/massage" routerLinkActive="true">массаж</a></li>
                <li><a routerLink="/physiotherapy" routerLinkActive="true">физиотерапевтические процедуры</a></li>
                <li><a routerLink="/analyzes" routerLinkActive="true">рентгенологические исследования</a></li>
                <li>консультация юриста, реабилитолога, социального работника</li>
            </ul>
            <p>Стоимость наркологической помощи определяется индивидуально, в зависимости от состояния пациента, его личных запросов, перечня требуемых обследований, объема медицинского вмешательства, времени необходимого для выполнения поставленных задач.</p>
            <p>Средняя стоимость составляет от 50 рублей до 600 рублей.</p>
            <p><b>За более подробной информацией обращайтесь по телефонам:</b></p>
            <p><b>Приемное отделение (круглосуточно) 35-60-82.</b></p>
            <p>Прейскурант цен на наркологическую помощь.</p>
        </div>
    </div>
</div>