<div class="container page">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>МЕДИКОПСИХОЛОГИЧЕСКОЕ ОТДЕЛЕНИЕ</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p>Психологическое отделение учреждения «Гомельская областная клиническая 
                психиатрическая больница», как структурное подразделение, основано в 
                июле 2008 года. Одним из первых психологов нашей больницы была 
                Полозова Анжелика Геннадьевна.</p>
            <p>В это же время в больнице был организован первый телефон экстренной 
                психологической помощи. В середине 90-х годов были введены должности 
                психологов в отделении пограничных состояний,  етском отделении и отделении
                 реабилитации.</p>
            <p>С ноября 2009 года в клинике функционирует служба экстренной психологической
                 помощи в круглосуточном режиме. С июля 2008 года по август 2015 года 
                 отделение возглавляла  Шамкина Светлана Антоновна.</p>
            <p>С сентября 2015 года заведующей отделения является Уздовская Ольга Николаевна.</p>
        </div>
    </div>
</div>