<div class="container page">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>ПЕДИАТРИЧЕСКОЕ ОТДЕЛЕНИЕ</h3>
        </div>
    </div>
    <div class="row">
            <div class="col-md-10 col-md-offset-1">
               <div class="loading" *ngIf = "loaderCheck()">
                    <span>Загрузка таблицы... </span> <img src="/assets/images/loader.gif"/>
               </div>
               <table *ngIf = "!loaderCheck()" class="tbl" style="width: 100%">
                    <thead class="text-center">
                        <td><b>Должность</b></td>
                        <td><b>Ф.И.О.</b></td>
                        <td><b>Телефон</b></td>
                    </thead>
                    <tr *ngFor="let person of table">
                        <td>{{person.position}}</td>
                        <td>{{person.name}}</td>
                        <td class="text-center">{{person.phone}}</td>
                </tr>               
                </table>
            </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p>С целью повышения доступности психиатрической помощи для детского населения города Гомеля, прием врачей
                психиатров был вынесен из диспансерного отделения психиатрической больницы, в детскую общеполиклиническую сеть города.</p>
            <p>За помощью к врачам детским врачам-психиатрам вы можете обратиться в следующие поликлиники города Гомеля:</p>
            <ul>
                <li>
                    Участок № 1
                </li>
                <p>Врач-психиатр-нарколог (детский) Добродей Екатерина Петровна</p>
                Понедельник, Вторник – Филиал № 6 ГУЗ «Гомельская городская центральная детская поликлиника», ул. Крестьянская 15.
                <p><b>Телефон для записи: 71-82-92; 71-08-38.</b></p>
                Среда, Пятница – Филиал № 1 ГУЗ «Гомельская городская поликлиника № 1» ул. Ильича 98
                <p><b>Телефон для записи: 36-30-31.</b></p>
                <li>
                    Участок № 2
                </li>
                <p> Врач-психиатр-нарколог (детский) Левша Валентина Константиновна</p>
                Ежедневно – Филиал № 3 ГУЗ «Гомельская городская центральная детская поликлиника» ул. Быховская 108.
                <p><b>Телефон для записи: 40-13-14</b></p>
                <li>
                Участок № 3
                </li>
                <p> Врач-психиатр-нарколог (детский) Губаревич Яна Олеговна</p>
                Вторник, Четверг – «Гомельская городская центральная детская поликлиника», педиатрическое отделение № 2, ул. Ландышева 22.
                <p><b>Телефон для записи: 60-17-74; 60-12-40.</b></p>
                <li>
                    Участок № 4
                </li>
                <p>Врач-психиатр-нарколог (детский) Метлицкая Ольга Васильевна</p>
                Ежедневно – Филиал № 4 ГУЗ «Гомельская городская центральная детская поликлиника», ул. Богданова 12 к.3
                <p><b>Телефон для записи: 63-85-89; 63-20-07</b></p>
                <li>
                    Участок № 5
                </li>
                <p>Врач-психиатр-нарколог (детский) Зарудко Галина Анатольевна</p>
                Ежедневно: Филиал № 1 ГУЗ «Гомельская городская поликлиника № 1» ул. Ильича 98
                <p><b>Телефон для записи: 36-30-31.</b></p>
                <li>
                    Участок № 6
                </li>
                <p>Врач-психиатр-нарколог (детский) Губаревич Яна Олеговна</p>
                Ежедневно: Филиал № 1 ГУЗ «Гомельская городская центральная поликлиника» отделение № 2, ул. Косарева 11.
                <p><b>Телефон для записи: 43-60-20.</b></p>
                <p>Врач-психотерапевт (детский) Матюкевич Оксана Александровна</p>
                Филиал № 6 ГУЗ «Гомельская городская центральная детская поликлиника», ул. Крестьянская 15.
                <p><b>Телефон для записи: 71-82-92; 71-08-38.</b></p>
            </ul>



        </div>
    </div>
</div>