
     <div class="row header">
        <div class="col-md-2">
           <a routerLink="/index" routerLinkActive="active"><img class="logo" src="assets/images/logo.png"/></a>
        </div>
        <div class="col-md-5">
           <h1 class="head">УЧРЕЖДЕНИЕ "ГОМЕЛЬСКАЯ ОБЛАСТНАЯ КЛИНИЧЕСКАЯ ПСИХИОТРИЧЕСКАЯ БОЛЬНИЦА"</h1>
        </div>
        <div class="col-md-5">
            <a class="emerg" routerLink="/emergency" routerLinkActive="active">
               <span>ЭКСТРЕННАЯ ПОМОЩЬ</span>
            </a>
            <a class="emerg" routerLink="/anonim" routerLinkActive="true">
               <span>АНОНИМНАЯ ПОМОЩЬ</span>
            </a>
           <a class="emerg" routerLink="/trust" routerLinkActive="true">
               <span>ТЕЛЕФОН ДОВЕРИЯ</span>
            </a>
        </div>
    </div>

<main-menu></main-menu>

<router-outlet></router-outlet>

<div class="container footer">
    <hr class="divide">

    <div class="row copyright">
        <div class="col-md-4 col-md-offset-1"> УЧРЕЖДЕНИЕ "ГОМЕЛЬСКАЯ ОБЛАСТНАЯ КЛИНИЧЕСКАЯ ПСИХИОТРИЧЕСКАЯ БОЛЬНИЦА" 2017. © Все права защищены.</div>
        <div class="col-md-3 col-md-offset-4">Created by: dmi3z@yandex.ru</div>
    </div>

</div>