<div class="container page">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>СЕКСОЛОГИЧЕСКАЯ ПОМОЩЬ</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <ul>Показания для консультации сексолога:
                <li>снижение сексуального влечения, как у мужчин, так и у женщин</li>
                <li>проблемы потенции (эрекции)</li>
                <li>преждевременная эякуляция ("быстрое семяизвержение")</li>
                <li>задержанная эякуляция</li>
                <li>вагинизм ("страх секса")</li>
                <li>болезненное половое сношение</li>
                <li>отсутствие сексуального удовлетворения и/или оргазма</li>
                <li>сексуально-супружеские дисгармонии</li>
            </ul>
            <p>Сексологическая помощь оказывается на бесплатной основе с 
                занесением реальных данных в амбулаторную карту пациента, с последующим наблюдением 
                за пациентом.</p>
            <p>По желанию пациента и отсутствии противопоказаний - сексологическая помощь 
                может быть оказана пациентам анонимно, на платной основе 
                (без занесения реальных данных пациента в амбулаторную карту и 
                постановки на учет). Порядок оказания помощи анонимно на платной основе 
                (ссылка на раздел Анонимная помощь)
            </p>
            <p>Противопоказаниями к анонимному оказанию сексологической помощи является перечень заболеваний, 
                при наличии которых, за пациентом в обязательном порядке должно вестись диспансерное наблюдение.
            </p>
            <ul>В нашей клинике вы можете получить следующие виды сексологической помощи анонимно:
                <li>Первичное консультирование врачом-сексологом</li>
                <li>Повторное консультирование врачом-сексологом</li>
                <li>Сексологическое обследование</li>
                <li>Сеанс хлорэтиловой блокады</li>
                <li>Сеанс вагинорасширения с психотерапевтическим опосредованием</li>
                <li>Сеанс локальной декомпрессии</li>
                <li>Массаж предстательной железы с психотерапевтическим опосредованием</li>
                <li>Фармакологическое тестирование с использованием интракавернозных инъекций</li>
            </ul>
            <p>Прейскурант цен на сексологическую помощь.</p>
        </div>
    </div>
</div>

