<div class="container page">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>МАССАЖ</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p>Массаж  — совокупность приёмов механического и рефлекторного воздействия 
                наткани и органы в виде растирания, давления, вибрации, проводимых 
                непосредственно на поверхности тела человека как руками, так и специальными
                 аппаратами через воздушную, водную или иную среду с целью достижения 
                 лечебного или иного эффекта.</p>
                 <p>Внешние раздражения воспринимаются рецепторами кожи и мышц, 
                     рефлекторными точками, и передаются вцентральную нервную систему.</p>
                <p>Поток импульсов, в зависимости от применяемой техники и приёмов массажа,
                     может стимулировать и повышать тонус центральной нервной системы, или,
                      наоборот, оказывать на неё затормаживающее и расслабляющее воздействие,
                       что положительно влияет на деятельность всех физиологических систем 
                       организма. При этом грамотное применение массажных масел определённого 
                       состава и направленности, может как усиливать вышеперечисленные 
                       воздействия на нужных участках тела человека, так и снижать их.</p>
                <p>В целях создания такого дополнительного эффекта применяются массажные
                    масла, включающие в себя натуральные активные компоненты.</p>
                <p>Прейскурант цен на процедуры массажа.</p>
        </div>
    </div>
</div>