<div class="container page">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>ОБРАЩЕНИЯ</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p>Работа с обращениями граждан (физических лиц) и юридических лиц в соответствиями со следующими нормативными правовыми документами:</p>
            <ol>
                <li>Закон Республики Беларусь от 18 июля 2011 г. № 300-З «Об обращениях граждан и юридических лиц»</li>
                <li>Указ Президента Республики Беларусь от 15 октября 2007 г. № 498 «О дополнительных мерах по работе
                    с обращениями граждан и юридических лиц»</li>
                <li>Постановление Совета Министров Республики Беларусь от 23 июля 2012 г. № 667 «О некоторых вопросах работы с
                    обращениями граждан и юридических лиц»</li>
            </ol>
            <p>В соответствии со ст. 12. «Требования, предъявляемые к обращениям» Закона Республики Беларусь от 18 июля 2011 г. № 300-З
                «Об обращениях граждан и юридических лиц».</p>
            <ol>
                <li>Обращения излагаются на белорусском или русском языке</li>
                <li><b>Письменные обращения граждан должны содержать:</b>
                    <ul>
                        <li>наименование и (или) адрес организации либо должность лица, которым направляется обращение</li>
                        <li> фамилию, собственное имя, отчество (если таковое имеется) либо инициалы гражданина, адрес его места жительства (места пребывания)</li>
                        <li>изложение сути обращения</li>
                        <li>личную подпись гражданина (граждан)</li>
                    </ul>
                </li>
                <li><b>Письменные обращения юридических лиц должны содержать:</b>
                    <ul>
                        <li>наименование и (или) адрес организации либо должность лица, которым направляется обращение;</li>
                        <li>полное наименование юридического лица и его место нахождения;</li>
                        <li> изложение сути обращения;</li>
                        <li>фамилию, собственное имя, отчество (если таковое имеется) либо инициалы руководителя или лица,
                            уполномоченного в установленном порядке подписывать обращения;</li>
                        <li>личную подпись руководителя или лица, уполномоченного в установленном порядке подписывать обращения,
                            заверенную печатью юридического лица</li>
                    </ul>
                </li>
                <li>Текст обращения должен поддаваться прочтению. Рукописные обращения должны быть написаны четким, разборчивым почерком.
                    Не допускается употребление в обращениях нецензурных либо оскорбительных слов или выражений.</li>
            </ol>
            <p>В соответствии со ст. 25 «Рассмотрение электронных обращений» Закона Республики Беларусь от 18 июля 2011 г. № 300-З
                «Об обращениях граждан и юридических лиц».</p>
            <p><b>Электронные обращения граждан (физических лиц) должны соответствовать требованиям:</b></p>
            <ul>
                <li>наименование и (или) адрес организации либо должность лица, которым направляется обращение;</li>
                <li>фамилию, собственное имя, отчество (если таковое имеется) либо инициалы гражданина, адрес его места жительства (места пребывания);</li>
                <li>изложение сути обращения;</li>
                <li>содержать адрес электронной почты заявителя.</li>
            </ul>
            <p><b>Электронные обращения юридических лиц должны соответствовать требованиям:</b></p>
            <ul>
                <li>наименование и (или) адрес организации либо должность лица, которым направляется обращение;</li>
                <li>полное наименование юридического лица и его место нахождения;</li>
                <li>изложение сути обращения;</li>
                <li>фамилию, собственное имя, отчество (если таковое имеется) либо инициалы руководителя или лица, уполномоченного
                    в установленном порядке подписывать обращения;</li>
                <li>должны прилагаться электронные копии документов, подтверждающих их полномочия.</li>
            </ul>
            <p><b>Оставляются без рассмотрения по существу обращения, которые (по которым):</b></p>
            <ul>
                <li>изложены не на белорусском или русском языке;</li>
                <li>не содержат фамилии, собственного имени, отчества, адреса места жительства (места пребывания) гражданина;</li>
                <li>не содержат полного наименования юридического лица и адреса его места нахождения, фамилии,
                    собственного имени, отчества руководителя или лица, уполномоченного в установленном порядке
                    подписывать обращения (для юридических лиц);</li>
                <li>содержат текст, не поддающийся прочтению;</li>
                <li>содержат нецензурные либо оскорбительные слова или выражения;</li>
                <li>подлежат рассмотрению в соответствии с законодательством о конституционном судопроизводстве,
                    гражданским, гражданским процессуальным, хозяйственным процессуальным, уголовно-процессуальным
                    законодательством, законодательством, определяющим порядок административного процесса, законодательством
                    об административных процедурах либо в соответствии с законодательными актами установлен иной порядок подачи
                    и рассмотрения таких обращений;</li>
                <li>содержат вопросы, не относящиеся к компетенции адресата;</li>
                <li>пропущен без уважительной причины срок подачи жалобы;</li>
                <li>подано повторное обращение, если оно уже было рассмотрено по существу и в нем не содержатся новые обстоятельства,
                    имеющие значение для рассмотрения обращения по существу;</li>
                <li>с заявителем прекращенная переписка.</li>
            </ul>

        </div>
    </div>
</div>