.water {
    display: block;
    font-family: "Georgia", sans-serif;
    font-size: 16px;
    font-style: italic;
    text-align: justify;
    text-indent: 10%;
    margin-top: 15px;
}

.slider{
    position: absolute;
    opacity: 0;
    transition: 4s    
}

.show{
    opacity: 1;
    transition: 4s;
    display: block;
}

.gener {
    margin-top: 15px;
    font-family: "Georgia", sans-serif;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 25px;
}
.text{
    margin-top: 44%;
}
img{
    width: 100%;
}