
<div class="row">
        <div class="col-md-10 col-md-offset-1">
            <img *ngFor="let img of images" src={{img.path}} class={{img.status}}/>
        </div>
    </div>   

<div class="row text">
        <div class="col-md-10 col-md-offset-1">
            <span class="water"><p>По определению Всемирной Организации Здравоохранения, «Здоровье – это состояние полного физического, душевного и
            социального благополучия, а не только отсутствие болезни». В современном мире ежедневно именно наше душевное состояние подвергается сильнейшим нагрузкам.
            Увеличивается интенсивность коммуникационной нагрузки, возрастает роль межличностного общения.
            Объем информации который мы ежедневно обрабатываем многократно возрос за последние 10 лет.</p>
            <p>Все это повышает риск душевных или психических расстройств.  Наша психическая сфера затрагивает все наши стороны жизни.
            Именно от того в каком душевном состоянии мы находимся - зависит наше настроение, работоспособность, интересы и наши
            отношения с окружающими.  Человек у которого здорова душа, живет счастливо. Он успешен в работе, у него благополучная
            семейная жизнь. Такой человек испытывает удовольствие от жизни, именно потому что на его душе спокойно.  Тот, кто
            страдающий душевным недугом ежедневно страдает сам и приносить боль и несчастье всем окружающим. Даже простое
            расстройство настроения, например депрессия, способна разрушить привычный уклад жизни. Представьте, человек постоянно
            печален, ощущает слабость и отсутствие желания работать. Даже самые прекрасные новости не могут заставить его
            улыбнуться. Или же другой пример, человек постоянно испытывает тревогу, напряжение, он беспокоится по каждому пустяку.
            Разве может такой человек назвать свою жизнь счастливой?  Отдельно стоят проблемы алкогольной зависимости. Сколько
            судеб и жизней было загублено из-за этого заболевания? Не сосчитать. Но сколько из них можно было бы спасти, обратись
            эти люди за помощью своевременно?</p>
            <p>В конце своего обращения к вам, хочу призывать вас, обращать внимание на себя и своих близких. Не бойтесь признаться себе в том,
            что вас настигло душевное расстройство. В этом нет ничего страшного или постыдного. Это может случиться с каждым из
            нас. Не бойтесь обратиться за помощью. Мы поможем.</p>
            От себя лично и всего коллектива нашей клиники, желаю вам успеха, счастья и крепкого душевного здоровья!</span>
        </div>
    </div>
    <div class="row gener">
        <div class="col-md-2 col-md-offset-5">
            <span>Главный врач</span>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <span>Александр Леонидович Цитко</span>
        </div>
    </div>