<div class="container page">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>ФИЗИОТЕРАПИЯ</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p><b>Физиотерапия</b> (греч. phýsis, природа + therapéia, лечение[1]) — 
                область клинической медицины, изучающая физиологическое и лечебное действие 
                естественных и преформированных физических факторов на организм человека.
            </p>
            <ul>Физиотерапия является одним из старейших лечебных и профилактических направлений 
                медицины, которое включает в себя множество разделов. Среди самых крупных 
                разделов физиотерапии можно отметить:
                <li>лечение с помощью лазеротерапии, низкочастотной лазерной терапии</li>
                <li>диадинамотерапии</li>
                <li>амплипульстерапии в офтальмологии</li>
                <li>транскраниальной и трансвертебральной микрополяризации</li>
                <li>миостимуляции</li>
                <li>теплового излучения и других различных механических воздействий</li>
            </ul>
            <p>Каждый из этих разделов включает ряд обособленных, или комплексных 
                лечебных методов, основанных на использовании того или иного физического фактора.
            </p>
            <p>Прейскурант цен на физиотерапевтичкую помощь.</p>
        </div>
    </div>
</div>




