<div class="container page">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>ТЕЛЕФОН ДОВЕРИЯ</h3>
            <h3 style="text-align: center;margin-top: 25px">Служба экстренной психологической помощи</h3>
            <h2 style="text-align: center;margin-top: 35px;margin-bottom: 35px">Телефон: 35-91-91 (Звонок бесплатный)</h2>

            <p><b>«Телефон Доверия»</b> - служба экстренной анонимной психологической помощи по телефону.
            Если вы находитесь в трудной жизненной ситуации, не видите выхода из нее, считаете что жизнь кончена, не знаете, куда обратиться
            за помощью -звоните.</p>
            <p><b>Режим работы:</b> круглосуточно, без выходных, перерывов.</p>
            <p>Дежурство на телефоне доверия осуществляют психологи, медикопсихологического отделения учреждения
                «Гомельская областная клиническая психиатрическая больница».</p>
        </div>
    </div>

</div>