<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>АДМИНИСТРАЦИЯ</h3>
       </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-md-offset-2">
            <table class="tbl" style="width: 100%">

                <thead class="text-center">
                    <td style="width: 40%"><b>Должность</b></td>
                    <td><b>Ф.И.О.</b></td>
                    <td><b>Телефон</b></td>
                </thead>
                <tr>
                    <td>Главный врач</td>
                    <td>Цитко Александр Леонидович</td>
                    <td>35-68-84</td>
                </tr>
                <tr>
                    <td>Заместитель главного врача по медицинской части (стационарная служба)</td>
                    <td>Ковалев Александр Николаевич</td>
                    <td>35-68-85</td>
                </tr>
                <tr>
                    <td>Заместитель главного врача по медицинской части (амбулаторная служба)</td>
                    <td>Новогран Екатерина Георгиевна</td>
                    <td>35-62-91</td>
                </tr>
                <tr>
                    <td>Заместитель главного врача по гражданской обороне и чрезвычайным ситуациями</td>
                    <td>Кунцевич Михаил Георгиевич</td>
                    <td>35-60-53</td>
                </tr>
                <tr>
                    <td>Заместитель главного врача по административно-хозяйственной части</td>
                    <td>Кисилева Елена Алексеевна</td>
                    <td>35-68-81</td>
                </tr>
                <tr>
                    <td>Заместитель главного врача по идеологической работе</td>
                    <td>Драчено Владимир Павлович</td>
                    <td>35-69-17</td>
                </tr>
                <tr>
                    <td>Главная медицинская сестра</td>
                    <td>Концур Ольга Викторовна</td>
                    <td>35-68-82</td>
                </tr>
                <tr>
                    <td>Главный бухгалтер</td>
                    <td>Григоренко Татьяна Ивановна</td>
                    <td>35-68-90</td>
                </tr>
                <tr>
                    <td>Заместитель главного бухгалтера</td>
                    <td>Максименко Светлана Васильевна</td>
                    <td>35-60-33</td>
                </tr>
                <tr>
                    <td>Начальник планово-экономического отдела</td>
                    <td>Семенцова Людмила Григорьевна</td>
                    <td>35-60-33</td>
                </tr>
                <tr>
                    <td>Заведующая диспансерным отделением</td>
                    <td>Беглюк Наталья Викторовна</td>
                    <td>35-62-32</td>
                </tr>
                <tr>
                    <td>Заведующая кадровым сектором</td>
                    <td>Климович Наталья Сергеевна</td>
                    <td>35-68-95</td>
                </tr>
                <tr>
                    <td>Председатель профкома</td>
                    <td>Максименко Светлана Васильевна</td>
                    <td>35-60-33</td>
                </tr>
                <tr>
                    <td>Инженер по технике безопасности</td>
                    <td>Яцко Анатолий Андреевич</td>
                    <td>35-61-18</td>
                </tr>
            </table>
        </div>
    </div>
</div>