<div class="container page">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>ПСИХОТЕРАПЕВТИЧЕСКАЯ ПОМОЩЬ</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p>Психотерапевтическая помощь оказывается на бесплатной основе с занесением реальных данных в амбулаторную карту пациента, 
                с последующим наблюдением за пациентом.</p>
            <p>По желанию пациента психотерапевтическая помощь может быть оказана пациентам анонимно, на платной основе (без занесения реальных данных пациента в амбулаторную карту и постановки на учет). Порядок оказания помощи анонимно на платной основе (ссылка на раздел Анонимная помощь)</p>
            <ul>В нашей клинике вы можете получить следующие виды психотерапевтической помощи:
                <li>Первичное консультирование врачом-психотерапевтом</li>
                <li>Повторное консультирование врачом-психотерапевтом</li>
                <li>Сеанс психокоррекции тревожных расстройств, расстройств настроения (депрессии), фобий</li>
                <li>Сеанс семейной психотерапии</li>
                <li>Сеанс психотерапии антиалкогольной, антитабачной, антинаркотической зависимости</li>
                <li>Групповая психотерапия (группы коррекции тревожных, депрессивных расстройств, терапия зависимостей)</li>
                <li>Релаксационная психотерапия</li>
            </ul>
            <p>Стоимость первичного приема врача-психотерапевта составляет 8,43 деноминированных рублей.</p>
            <p>Дальнейшая стоимость лечения зависит от состояния пациента, необходимого объема медицинского вмешательства и определяется индивидуально.</p>
            <p>Прейскурант цен на психотерапевтическую помощь.</p>
        </div>
    </div>
</div>